<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Cadastro
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <div class=logo><br>
    <img src="/assets/icon/clientes.png">
    
</div>

<ion-content>
    
  
      <div padding>

          <b>Nome:</b><br>
          <label class="item item-input" >
              <input type="text" placeholder="">
            </label><br>
            <br>
            <b>CPF:</b><br>
            <label class="item item-input">
              <input type="text" placeholder="">
            </label><br>
            <br>
            <b>Endereço:</b><br>
            <label class="item item-input">
                <input type="text" placeholder="">
              </label><br>
              <br>
              <b>Telefone:</b><br>
              <label class="item item-input">
                <input type="text" placeholder="">
              </label><br>
              <br>
             <b>E-mail:</b><br>
              <label class="item item-input">
                <input type="text" placeholder="">
              </label><br>
              <br>
  
        <ion-button  expand="block" position="center">Cadastrar</ion-button>
     
      </div>
    </ion-content>
