<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Perfil
      </ion-title>
    </ion-toolbar>
  </ion-header>

<div class="avatar">
    <ion-avatar >
        <img  src="/assets/icon/favicon.png">
      </ion-avatar>  
    
</div>

<div padding>   

<ion-list  >
    <ion-item>
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium" name="wallet"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium" name="home"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium" name="logo-whatsapp"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium" name="mail"></ion-icon>
    </ion-item>
  </ion-list>
</div>