<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Consultas
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class=logo><br>
    <img src="/assets/icon/consul.png">
    
</div>

<ion-content>

</ion-content>
