ion-content img:first-child{
    margin: 48px 48px;
    display: block;
}

div.logo {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

    
}

div.text {
    margin-top: 50px;
    margin-left: 90px;
    margin-right: auto;

    
}
