

<div class=logo>
  <img src="/assets/WhatsApp.png">

</div>

<div padding>


  Email:

  <ion-input id="loginTxt" [(ngModel)]="loginTxt" type="text"></ion-input>


  Senha:

  <ion-input id="senhaTxt" [(ngModel)]="senhaTxt" type="password"></ion-input>
  <p> 
    <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
    <label for="manterlogado"> Manter-me logado</label>
  </p>

  <ion-button expand="block" position="center" (click)="logar()">Logar</ion-button>
  <div class=text>
     &nbsp;&nbsp;&nbsp;&nbsp;<a href="registre-se">Primeiro acesso</a>. 
  <p><a href="recsenha">Esqueci minha senha</a></p>
</div>

</div>


