<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastro Pet
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class=logo><br>
  <img src="/assets/prototipacao/optimization-icon1.png">
  
</div>

<ion-content>
  

    <div padding>

        <b>Nome:</b><br>
        <label class="item item-input" >
            <input type="text" placeholder="">
          </label><br>
          <br>
          <b>Raça:</b><br>
          <label class="item item-input">
            <input type="text" placeholder="">
          </label><br>
          <br>
          
          <b>Idade:</b><br>
          <label class="item item-input">
              <input type="text" placeholder="">
            </label><br>
            <br>

            <b>Peso:</b><br>
            <label class="item item-input">
              <input type="text" placeholder="">
            </label><br>
            <br>
           <b>Sexo:</b><br>
            <label class="item item-input">
              <input type="text" placeholder="">
            </label><br>
            <br>

      <ion-button  expand="block" position="center">Cadastrar</ion-button>
   
    </div>
  </ion-content>
