<br>
<ion-header> 
    <ion-title><h2>Registre-se</h2></ion-title> 
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label position = "floating">Email</ion-label>
    <ion-input  type = "text" [(ngModel)]="loginTxt"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">Senha</ion-label>
    <ion-input type = "password" [(ngModel)]="senhaTxt"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">Confirme a senha</ion-label>
    <ion-input type = "password" [(ngModel)]="csenhaTxt"></ion-input>
  </ion-item>
</ion-list>
<ion-button expand="block" position="center" (click)="registre()">Registrar</ion-button>

</ion-content>

<ion-item href="login">
  <ion-icon slot="start" color="medium" name="undo"></ion-icon>
  <ion-label>         Login</ion-label>
</ion-item>
