<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="Petshop">
      <ion-img src="/assets/promocaobn.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle><b>Promoções</b></ion-card-subtitle>
        <ion-card-title><b>BANHO E TOSA</b></ion-card-title>
      </ion-card-header>
      <ion-card-content><p>Seja nosso cliente.</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      
      <ion-item href="cadastro">
        <ion-icon slot="start" color="medium" name="person-add"></ion-icon>
        <ion-label>Cadastre-se</ion-label>
      </ion-item>
      
    </ion-list>

</ion-content>
