<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agendamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class=logo><br>
  <img src="/assets/icon/agenda.jpg">
  
</div>
<ion-content>
  
  <b>Nome do cliente :</b><br>
  <label class="item item-input" >
      <input type="text" placeholder="">
    </label><br><br>
      
    <b>Nome do animal: </b><br>
<label class="item item-input">
    <input type="text" placeholder="">
    </label><br><br>

    <b>Raça:</b><br>
    <label class="item item-input" >
        <input type="text" placeholder="">
      </label><br><br>

      <b>Data do Agendamento:</b><br>
    <label class="item item-input" >
        <input type="text" placeholder="">
      </label><br><br>

      <b>Hora do Agendamento:</b><br>
    <label class="item item-input" >
        <input type="text" placeholder="">
      </label><br><br>

      <b>Tipo de serviço a ser realizado:</b><br>
    <label class="item item-input" >
        <input type="text" placeholder="">
      </label><br><br>
      
      <b>Forma de pagamento:</b><br>
    <label class="item item-input" >
        <input type="text" placeholder="">
      </label><br><br>

      <b>Valor:</b><br>
    <label class="item item-input" >
        <input type="text" placeholder="">
      </label><br><br>


</ion-content>
